@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body.light-mode {
  --color-primary: #f5f5ef;
  --color-text: #0f0f0e;
  --color-background: #e2e3e4;
}

body.dark-mode {
  --color-primary: #f5f5ef;
  --color-text: #0f0f0e;
  --color-background: #e2e3e4;
}

body {
  overflow-x: hidden;
  font-family: "Arima", cursive;
  background-color: #181919;
  color: #ffffff;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Arima", cursive;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*////////////////  Header /////////////// */

header {
  display: flex;
  justify-content: space-between;
  margin: 2px 74px;
  align-items: center;
  height: 130px;
}

header .title h1 {
  width: 272px;
  font-size: 3em;
  font-family: "Dancing Script", cursive;
}

header ul {
  display: flex;
  height: 64px;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

header ul li {
  font-size: 1.7em;
  margin: 10px 33px;
}
header ul a {
  color: #ffffff;
  text-decoration: none;
}

header .more {
  display: flex;
  justify-content: flex-end;
  width: 272px;
  position: relative;
}

.more svg {
  font-size: 3em;
  cursor: pointer;
}

.more-contet {
  position: absolute;
  background-color: #313130;
  border-radius: 5px;
  top: 45px;
  display: none;
}

.moon-sun {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moon-sun h2 {
  font-weight: 500;
}

.moon-sun svg {
  font-size: 20px;
  margin-left: 13px;
}

.more-contet.disguise {
  padding: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 223px;
}

.contet-login-register h2 {
  margin: 12px 3px;
  cursor: pointer;
  font-weight: 500;
}

.contet-login-register a {
  text-decoration: none;
  color: inherit;
}

.linea {
  width: 100%;
  height: 1px;
  background-color: #626262;
}

/*/ ///////
///////////////
/////////////////////// Page Menu //////////
///////////////
//////////////////// */

.main-menu {
  position: relative;
}

.icons-floating {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icons-floating div {
  position: absolute;
}

.icons-floating div img {
  filter: brightness(0) invert(1);
  width: 100%;
  height: auto;
}

.icons-floating .flour,
.icons-floating .fungus,
.icons-floating .apple,
.icons-floating .leaf {
  width: 55px;
}

.icons-floating .flour {
  left: 13vw;
  animation: iconsFloatingButton 40s linear infinite,
    iconsMovementX 5s infinite alternate ease-in-out;
}

.icons-floating .fungus {
  left: 78vw;
  width: 40px;
  animation: iconsFloatingButton 80s linear infinite,
    iconsMovementX 5s infinite alternate ease-in-out;
}

.icons-floating .apple {
  top: 38%;
  left: 0vw;
  animation: iconsMovementX 6s infinite alternate ease-in-out;
}

.icons-floating .leaf {
  top: 38%;
  left: 56vw;
  width: 25px;
  animation: iconsMovementX 3s infinite alternate ease-in-out,
    iconsFloatingButton 30s linear infinite;
}

@keyframes iconsFloatingButton {
  0% {
    top: -40%;
  }
  100% {
    top: 140%;
  }
}

@keyframes iconsMovementX {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

/* menu */

.menu {
  height: 1300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-content {
  height: 677px;
  overflow-y: scroll;
  width: 55vw;
  margin-right: 7vw;
}

.menu-content::-webkit-scrollbar {
  width: 8px;
}

.menu-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.menu-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.category {
  margin-bottom: 174px;
  position: relative;
}
.category .items {
  margin-right: 40px;
}
.category h1 {
  font-size: 50px;
  margin-bottom: 57px;
}

.icon-category {
  position: absolute;
  width: 52px;
  top: 1%;
  left: 47vw;
}

.icon-category img {
  height: auto;
  width: 100%;
  filter: brightness(0) invert(1);
  animation: iconsMovementX 6s infinite alternate ease-in-out;
}

.carousel {
  margin-left: 4vw;
  width: 11vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.point-menu {
  top: -45px;
  position: absolute;
  font-size: 64px;
  left: 8vw;
  transition: 1s;
}

.carousel h3 {
  cursor: pointer;
  transition: 1s;
  margin: 6px 0;
}
.carousel h3.notSelect {
  color: #8f8e8e;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.menu-item p {
  color: #8f8e8e;
}

.cont-img {
  margin: 0vh 0vw;
  width: 14vw;
  max-width: 196px;
  margin-right: 2vw;
}

.cont-img img {
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
  max-width: 100%;
  height: auto;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* // scroll //*/

.menu-cont-img-scroll {
  display: flex;
  width: 400vw;
  transform: translateX(0%);
  transition: 2s;
}

.menu-cont-img {
  overflow: hidden;
  margin: 0 2%;
  min-height: 200px;
  width: 96%;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 45px;
}

/*/ ///////
///////////////
/////////////////////// PAGE login //////////
///////////////
//////////////////// */
.login-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #533c1c;
}

.login-container {
  border-radius: 2px;
  display: flex;
  height: 60vh;
  min-height: 496px;
  width: 66vw;
  background-color: #f9f9f9;
}

.img-cont {
  width: 50%;
  min-width: 393px;
  max-width: 520px;
}

.img-cont img {
  width: 100%;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.signup-link {
  font-size: 12px;
  margin-top: 1rem;
  color: #735834;
}

.form-wrapper {
  max-width: 400px;
  width: 50%;
  text-align: center;
  margin: 23px auto;
  padding: 2px 32px;
}

.welcome-title {
  font-weight: 500;
  font-size: 37px;
  margin-bottom: 58px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  text-align: left;
}

label {
  font-size: 18px;
  color: #735834;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 600;
}

.input-field {
  width: 89%;
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #ddd1c7;
}

.input-field::placeholder {
  font-weight: 500;
  color: #a79d93;
}

.login-button {
  font-family: "Arima", cursive;
  padding: 10px;
  font-size: 20px;
  background-color: #553a19;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

.login-button:hover {
  background-color: #5c482c;
}

/*/ ///////
///////////////
/////////////////////// dashboard //////////
///////////////
//////////////////// */

main {
  background-color: #333;
  width: 100%;
}

.dashboard-main {
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  margin: 2vh 11vw;
  align-items: flex-start;
  position: relative;
}

.dashboard-main nav {
  position: absolute;
  top: 23px;
  right: 24px;
}

.dashboard-main nav button {
  width: 40px;
  height: 40px;
  font-size: 28px;
  display: flex;
  background: #c4c4c4;
  align-items: center;
  border: 2px solid #bcb9b2;
  justify-content: center;
  border-radius: 8px;
  color: #181919;
  cursor: pointer;
}

.dashboard-containers {
  background-color: #533c1c;
  width: 12vw;
  max-width: 280px;
  min-width: 156px;
  height: 54px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

/*/ ///////
///////////////
/////////////////////// Inveroty //////////
///////////////
//////////////////// */

.open-add-buttons-back {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.open-add-buttons-back button {
  color: #eceae2;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 2px;
}

.go-back {
  width: 52px;
  font-size: 31px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181817c9;
}

.cont-main-products {
  min-height: 100vh;
  margin: 23px 23px;
  position: relative;
}

.open-category,
.open-product {
  font-size: 17px;
  margin: 0 13px;
  padding: 0 2px;
  background-color: #533c1c;
}

.list-categories {
  width: 45vw;
  min-width: 340px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.categories button {
  margin-right: 11px;
  background-color: #533c1c;
  font-size: 19px;
}

.go-back-dashboard {
  background-color: #181817c9;
  margin-right: 11px;
  width: 52px;
  font-size: 31px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-categories {
  width: 45vw;
  min-width: 340px;
}

.categories {
}

.open-add-buttons-back .icon {
  display: flex;
  background-color: #181817c9;
}

/* main-products */

.main-products {
  margin: 0 44px;
}

.products-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.values button .form-product label {
  font-size: 33px;
  color: #eceae2;
  margin-bottom: 20px;
}

.form-product {
  margin: 29px 0 47px 47px;
  display: flex;
}

.select-product {
  background-color: #ddd1c7;
  color: #796c56;
  padding: 6px;
  font-size: 23px;
  border: solid 2px #47443d46;
  transition: 1s;
  border-radius: 4px;
  margin-bottom: 36px;
}

.select-product:focus {
  outline: none;
  border: solid 2px #47443d;
  background-color: #ddd1c7;
  color: #796c56;
}

.form-product label {
  font-size: 28px;
  color: #eceae2;
  margin-bottom: 20px;
}

.form-product input {
  border-radius: 4px;
  background-color: #ddd1c7;
  min-width: 300px;
  padding: 8px;
  color: #796c56;
  border: solid 2px #47443d46;
  font-size: 23px;
  transition: 1s;
}

.form-product input::placeholder {
  color: #796c56;
}

.form-product input:focus {
  outline: none;
  font-size: 23px;
  border: solid 2px #47443d;
  background-color: #ddd1c7;
  color: #796c56;
}

.form-product .button-product {
  padding: 13px;
  font-size: 23px;
  background-color: #533c1c;
  color: #eceae2;
  height: 53px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  transition: 1s;
}

.form-product .button-product:hover {
  background-color: rgb(107, 83, 47);
}

.not-exist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  min-height: 400px;
}

/* category */

.form-category {
  margin: 60px 0 20px 45px;
}

.form-category label {
  font-size: 33px;
  color: #eceae2;
  margin-bottom: 20px;
}

.form-category input {
  background-color: #ddd1c7;
  min-width: 300px;
  width: 30vw;
  color: #796c56;
  border: solid 2px #47443d46;
  font-size: 20px;
  transition: 1s;
}

.form-category input::placeholder {
  color: #796c56;
}

.form-category input:focus {
  outline: none;
  font-size: 20px;
  border: solid 2px #47443d;
  background-color: #ddd1c7;
  color: #796c56;
}

.form-category .button-category {
  padding: 13px;
  font-size: 23px;
  background-color: #533c1c;
  color: #eceae2;
  height: 53px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  transition: 1s;
}

.form-category .button-category:hover {
  background-color: rgb(107, 83, 47);
}

.category-error {
  width: 300px;
  height: 60px;
  font-size: 20px;
  margin: 26px 0px 0px 5px;
}

.showCategories {
  display: flex;
  margin: 0 44px;
  flex-direction: column;
}

.cont-show-category {
  margin: 24px 31px 0 0px;
  display: flex;
  padding: 2px 10px;
  align-items: center;
  background-color: #786f66;
  border-radius: 4px;
  min-width: 200px;
  max-width: 287px;
  justify-content: space-between;
}

.cont-show-category h2 {
  margin-right: 13px;
  width: 80%;
  overflow: hidden;
}

.cont-show-category svg {
  cursor: pointer;
  font-size: 25px;
  color: rgb(112, 45, 45);
}

/* all-categories */

.all-categories {
  position: absolute;
  top: 0px;
  padding: 0% 0%;
  display: flex;
  width: 100%;
  left: 0px;
  background: #4a464236;
}

.cont-all-categories {
  background-color: #333;
  padding: 0px 63px;
  position: relative;
  min-height: 281px;
  width: 100%;
}

.categories-select {
  background-color: #533c1c;
  color: #eceae2;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 19px;
  border-radius: 2px;
  margin-right: 11px;
  font-size: 19px;
  margin-top: 1px;
}

.close-all-categories {
  color: #eceae2;
  border: none;
  cursor: pointer;
  padding: 4px 13px;
  margin-top: 0px;
  border-radius: 2px;
  margin-left: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #696961c9;
  display: flex;
  width: 52px;
  font-size: 31px;
  height: 36px;
  background-color: #181817c9;
}

/*/ ///////
///////////////
/////////////////////// Product //////////
///////////////
//////////////////// */

.product {
  display: flex;
  background: rgb(94 89 84);
  width: 58vw;
  height: 87px;
  min-width: 316px;
  max-width: 1267px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #0f0f0e;
}

.name-product {
  width: 50%;
}

.name-product h2 {
  font-size: 28px;
  width: 100%;
  overflow: hidden;
}

.name-product p {
  color: #e7e7e4af;
  margin-left: 6px;
  font-size: 18px;
}

.values {
  max-width: 220px;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.category-minimum {
  display: flex;
}

.value p {
  font-size: 28px;
}

.value form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0e27;
  border-radius: 4px;
}

.value .input-num {
  font-size: 37px;
  width: 47px;
  height: 49px;
  padding-left: 6px;
  background-color: #0f0f0e00;
  color: #fff;
  border: none;
  outline: none;
  transition: 1s;
}

.value .input-num::placeholder {
  color: #fff;
}

.value .input-num:focus {
  outline: none;
  background-color: #ddd1c741;
}

.input-num[type="number"]::-webkit-inner-spin-button,
.input-num[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.values .value {
  cursor: pointer;
  width: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.values button {
  background-color: #533c1c;
  color: #eceae2;
  cursor: pointer;
  width: 36px;
  height: 34px;
  border: 1px solid #4b3e2de5;
  border-radius: 4px;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-button-delet {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 13%;
  height: 84%;
}

.cont-button-delet button {
  background-color: #533c1c;
  color: #eceae2;
  font-size: 21px;
  cursor: pointer;
  border-radius: 4px;
  width: 31px;
  height: 30px;
  border: 1px solid #4b3e2de5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*/ ///////
///////////////
/////////////////////// Reservas //////////
///////////////
//////////////////// */

.cont-make-reservation {
  margin-bottom: 140px;
  display: flex;
  padding: 4vh 3vw;
  flex-direction: column;
  margin-top: 165px;
}

.cont-form-more {
  width: 45%;
  min-width: 630px;
  padding: 1px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-reservations {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 30px;
}

.map-restauran {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 656px;
  min-height: 64vh;
}

.cont-map-restautan {
  width: 45%;
  display: flex;
  min-width: 800px;
  height: 690px;
  padding: 1px 20px;
  align-items: center;
  flex-direction: column;
}

.cont-map-restautan nav {
  display: flex;
  width: 18%;
  min-width: 165px;
  flex-direction: column;
}

.cont-map-restautan nav div {
  margin: 5px 0px 8px 0px;

  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.7s;
  color: #8f8e8e;
}

.cont-map-restautan nav div h2 {
  font-weight: 600;
}

.cont-map-restautan nav .focus {
  color: #fff;
}

.cont-div-img-reservartion {
  width: 100%;
  height: auto;
  min-width: 35vw;
  display: flex;
  min-height: 498px;
  align-items: center;
  justify-content: center;
}

.cont-img-reservartion {
  width: 66%;
}

.cont-img-reservartion img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
  border-radius: 8px;
}

.cont-select-icon-persons {
  position: relative;
  height: 56px;
  width: 192px;
}

.cont-select-icon-persons select {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-left: 45px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 22px;
}

.cont-select-icon-persons svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-56%);
  font-size: 25px;
  color: rgb(228, 223, 223);
  pointer-events: none;
}

.form-reservations select {
  font-size: 25px;
  font-family: "Arima", cursive;
  border: #b2222200;
  color: #fff;
  background-color: #474746;
}

.cont-select-icon-persons select option {
  font-size: 25px;
}

.cont-select-calendario {
  height: 56px;
  width: 237px;
  margin: 0px 15px;
}

.cont-select-time option {
  cursor: pointer;
  font-size: 25px;
}

select:focus {
  outline: none;
}

.cont-map-img-reservatons {
  display: flex;
  width: 96vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

select option {
  cursor: pointer;
  font-size: 20px;
}

.date-form {
  position: relative;
  background-color: #474746;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  transition: 0.7s;
  font-family: "Arima", cursive;
  border: #b2222200;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.date-form svg {
  font-size: 25px;
}

/* button reservas */
.button-reservas-continue {
  display: flex;
  justify-content: flex-end;
  margin: 7px 21px;
}

.button-reservas-continue button {
  background-color: #474746;
  border: 1px solid #6d6d6d;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
  border-radius: 4px;
  transition: 0.5s;
}

.button-reservas-continue button:hover {
  background-color: #a09f9f;
}

/* calendar */

.calendar {
  position: absolute;
  background-color: #474746;
  padding: 6px;
  border-radius: 2px;
  transform: translateY(4%);
  z-index: 1;
}

.calendar h2 {
  font-size: 16px;
  margin: 0 3px;
}

.calendar-month {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6px;
}

.calendar-month-button {
  cursor: pointer;
}

.calendar-days {
  display: grid;
  height: 184px;
  gap: 0% 0%;
  grid-template-columns: repeat(7, 14.3%);
  grid-template-rows: repeat(6, 16.5%);
}

.to-day {
  background-color: #63837f;
}

.calendar-days .next,
.calendar-days .former {
  background-color: #8f8e85;
}

.calendar-days .next:hover,
.calendar-days .former:hover {
  background-color: #929292;
}

.not-allowed {
  background-color: rgb(56 42 43);
}

.not-allowed:hover {
  cursor: default;
  background-color: rgba(56, 42, 43, 0.553);
}

.calendar-days div {
  border: solid 1px #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar button {
  cursor: pointer;
  width: 27px;
  font-size: 15px;
  display: flex;
  color: cornsilk;
  align-items: center;
  justify-content: center;
  height: 26px;
  background: #676d62;
  border: 1px solid #d8d8d6;
  border-radius: 2px;
}

.icons-days-name {
  display: flex;
  align-items: center;
}

.icons-days-name h2 {
  font-weight: 300;
}

.date-form h2 {
  font-weight: 400;
  margin-top: 5px;
}

.select-time-container {
  position: relative;
  width: 174px;
  height: 56px;
}

.select-time {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-left: 32px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.select-time-container .time-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(228, 223, 223);
  pointer-events: none;
}

.form-reservation-main {
  border: 1px solid #ffffff38;
  padding: 21px 27px;
  display: flex;
  width: 90%;
  margin-top: 56px;
  height: 212px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: space-between;
}

.form-reservations {
  display: flex;
  flex-wrap: wrap;
  height: 65%;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

select::-webkit-scrollbar {
  width: 4px;
  border-radius: 3px;
}

select::-webkit-scrollbar-track {
  background: #9c999900;
}

select::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.information {
  margin-bottom: 19px;
  margin-top: 149px;
  display: flex;
  width: 470px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 118px;
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  padding: 12px 14px;
}

.information div {
  border: 1px solid #ffffff45;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 140px;
  padding: 4px 14px;
  justify-content: space-between;
  border-radius: 3px;
}

.information div:hover {
  background-color: #6d6d6d;
}

/* forma confirmation secong part */

.form-rerservation-confirm {
  height: 55vh;
  min-height: 479px;
  min-width: 800px;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  padding: 34px;
  transition: 0.5s;
  background-color: #181919;
}

.form-rerservation-confirm input {
  width: 89%;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 17px;
  color: #333;
  background-color: #ddd1c7;
  height: 32px;
  border: solid 2px #464442;
  transition: 0.5s;
}

.form-rerservation-confirm input:focus {
  outline: none;
  border: solid 2px #ddd6c6;
  background-color: #ddd1c7;
  color: #474543;
  font-size: 20px;
}

.form-rerservation-confirm input::placeholder {
  font-weight: 400;
  font-size: 17px;
  color: #807871;
  padding-left: 5px;
}

.cont-input-nombre-reserva {
  width: 70%;
  margin-bottom: 43px;
}

.cont-input-nombre-reserva input {
  width: 70%;
  color: #807871;
}

.form-cont-reservas-input-text {
  height: 66%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.form-cont-reservas-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 60%;
}

.cont-input-nombre-reserva-correo input,
.cont-input-nombre-reserva-telefono input {
  width: 65%;
  height: 32px;
  color: #807871;
}
.cont-input-nombre-reserva-correo h2,
.cont-input-nombre-reserva-telefono h2 {
  font-size: 17px;
  padding-top: 10px;
  padding-left: 15px;
}

.form-rerservation-confirm label {
  color: #fff;
  font-size: 30px;
}

.cont-text-reserva-telefono-correo {
  width: 36%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cont-text-reserva-telefono-correo-first-h3 {
  padding: 16px;
}

.cont-button-next-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.cont-button-next-form button {
  background-color: #474746;
  border: 1px solid #6d6d6d;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
  border-radius: 4px;
  transition: 0.5s;
}

/* others */

.others {
  display: flex;
  width: 201px;
  height: 35px;
  margin-top: 66px;
  justify-content: space-between;
}

.others text:hover {
  background: #fff;
}

.linea-y {
  background: #fff;
  width: 2px;
  height: 35px;
}

.others .text {
  cursor: pointer;
}

/*/ ///////
///////////////
/////////////////////// adminReservation //////////
///////////////
//////////////////// */
.adminReservation {
  display: flex;
}

.adminReservation .calendar {
  position: relative;
  height: 60vh;
  width: 60vw;
}

.adminReservation .calendar-days {
}

.adminReservation .icons-days-name {
  width: 100%;
}
.adminReservation .icons-days-name h2 {
  padding: 0 3.7%;
}

.adminReservation .calendar-days {
  display: grid;
  height: 184px;
  gap: 0% 0%;
  grid-template-columns: repeat(7, 14.3%);
  grid-template-rows: repeat(6, 16.5%);
}

.calendar.close {
  width: 16vw;
  height: 25vh;
}

.calendar.close .icons-days-name h2 {
  padding: 0 1.5%;
}

/*/ ///////
///////////////
/////////////////////// reservations //////////
///////////////
//////////////////// */

.reservations {
  height: 60vh;
  width: 60vw;
}
.reservation{
  margin: 2vh 2vw;
}

/*/ ///////
///////////////
/////////////////////// Footer //////////
///////////////
//////////////////// */

footer {
  margin: 2vw 5vh;
  margin-bottom: 80px;
}

.main-cont {
  display: flex;
  height: 450px;
}

.footer-icon-subcribe {
  display: flex;
  align-items: center;
}

footer .cont-icon {
  width: 59vw;
  height: 110px;
  margin-bottom: 40px;
}

footer .cont-icon img {
  filter: grayscale(22%);
  width: 35px;
  margin: 28px;
}

.subscribe {
  width: 100%;
  height: 110px;
  margin-bottom: 40px;
}

.input-subcribe input {
  width: 82%;
  height: 28px;
  background-color: transparent;
  border: solid 1px #474746;
  padding: 4px;
}

.input-subcribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-subcribe button {
  width: 15%;
  height: 38px;
  min-width: 40px;
  background: #ae946d;
  border: none;
  cursor: pointer;
}

.input-subcribe button svg {
  color: #ffffff;
  font-size: 1.4em;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-cont-info {
  display: flex;
  width: 57vw;
  margin-right: 2vw;
}

.footer-cont-info p {
  color: #818080;
  cursor: pointer;
  width: 170px;
}

.footer-cont-info p:hover {
  color: #ffffff;
}

.footer-cont-info h2 {
  font-size: 1.4em;
}

.footer-cont-info div {
  width: 42%;
  margin-right: 8%;
}

.footer-cont-contact {
  width: 19vw;
  margin: 0 2vw 1px 9vw;
}

footer .linea {
  width: 100%;
  background-color: #ffffff;
  height: 2px;
  border-radius: 2px;
  margin-bottom: 44px;
}

.social-media {
  height: 80px;
}

.social-media a {
  color: inherit;
  display: inline-block;
  width: 36px;
  height: 34px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.social-media svg {
  font-size: 2em;
  transition: 1s;
}

.social-media svg:hover {
  transform: scale(1.3);
}

footer .linea-long {
  width: 100%;
  background-color: #424342;
  height: 1px;
  border-radius: 2px;
  margin-top: 44px;
}

.translator {
  display: flex;
  align-items: center;
}
.translator h2 {
  margin-right: 40vw;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1400px) {
  .cont-map-img-reservatons {
    flex-direction: column;
    align-items: center;
  }

  .cont-map-restautan {
    width: 92%;
  }

  .cont-map-restautan {
    display: flex;
    margin-bottom: 102px;
  }

  .cont-map-restautan nav {
    width: 25%;
    min-width: 183px;
  }

  .cont-div-img-reservartion {
    width: 50%;
  }

  .cont-map-restautan nav {
    flex-direction: column;
  }

  .cont-img-reservartion {
    width: 84%;
  }

  .cont-map-restautan nav div {
    height: 31px;
  }
  .form-rerservation-confirm {
    width: 60vw;
  }
}

@media (max-height: 700px) {
  /* menu */
  .carousel h3 {
    margin: 3px 0;
    font-size: 16px;
  }

  .category h1 {
    margin-bottom: 15px;
    font-size: 44px;
  }

  .menu-item {
    margin: 6px 0;
  }

  .menu-item-cont h2 {
    font-size: 18px;
  }
  .menu-item-cont p {
    font-size: 15px;
  }
}
